<footer class="w-full pt-10 print:hidden">
  <div class="bg-white/20 py-5 backdrop-blur-sm">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 justify-items-center gap-x-12 gap-y-8 px-6 sm:grid-cols-3">
      <!-- Erste Spalte: Logo -->
      <div class="relative flex justify-center sm:justify-start">
        {{ if .Site.Params.logo }}
          <img
            src="{{ .Site.Params.logo | absURL }}"
            class="max-h-[10rem] max-w-[10rem] object-scale-down object-center sm:object-left"
            alt="{{ .Site.Title }}" />
        {{ end }}
      </div>

      <!-- Zweite Spalte: Kontaktinformationen -->
      <div class="text-center sm:text-left">
        <strong>{{ .Site.Title }}</strong>
        <br />
        {{ .Site.Params.contact.name }}
        <br />
        {{ .Site.Params.contact.location }}
        <br />
        Kontakt:
        {{ .Site.Params.contact.email }}
      </div>

      <!-- Dritte Spalte: Links und Social Media Icons -->
      <div class="text-center sm:text-left">
        <!-- Links -->
        <a href="/contact">Kontakt</a>
        <br />
        <a href="/privacy">Datenschutz</a>
        <br />
        <a href="/imprint">Impressum</a>
        <br />
        <a href="/term_condition">AGB</a>

        <!-- Social Media Icons -->
        <div
          class="mt-4 flex items-center justify-center gap-2 sm:justify-start">
          {{- if .Site.Params.social.facebook }}
            <!-- Facebook Icon -->
            <a
              class="text-xl text-gray-600 transition-colors duration-150 hover:text-cyan-600 sm:text-2xl"
              href="https://www.facebook.com/{{ .Site.Params.social.facebook }}"
              target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-facebook-icon lucide-facebook">
                <path
                  d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
              </svg>
            </a>
          {{- end }}

          {{- if .Site.Params.social.instagram }}
            <!-- Instagram Icon -->
            <a
              class="text-xl text-gray-600 transition-colors duration-150 hover:text-cyan-600 sm:text-2xl"
              href="https://www.instagram.com/{{ .Site.Params.social.instagram }}/"
              target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-instagram-icon lucide-instagram">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
              </svg>
            </a>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</footer>
